<mat-dialog-content>
    <div class="form-container">
        <form [formGroup]="marketForm" class="market-form">
            <h1 class="form-title">{{formText}}</h1>
            <div class="d-flex flex-column flex-md-row">
                <div class="input-content mb-3">
                    <label for="name" class="form-label">Market Name:</label>
                    <br>
                    <input type="text" class="form-control" id="name" placeholder="Enter Your Market Name" formControlName="marketName"> 
                </div>
                <div class="input-content mb-3">
                    <label for="name" class="form-label">Reg Num:</label>
                    <br>
                    <input type="text" id="name" class="form-control" placeholder="*Market Reg Number" formControlName="marketNumber" required>
                </div>
            </div>
            
            <div class="d-flex flex-column flex-md-row">
                <div class="input-content mb-3">
                    <label for="name" class="form-label">Address:</label>
                    <br>
                    <input type="text" id="name" class="form-control" placeholder="Enter Your Market Address" formControlName="location" required>
                </div>
                <div class="input-content mb-3">
                    <label for="name" class="form-label">Mobile:</label>
                    <br>
                    <input type="text" class="form-control" formControlName="contact" placeholder="Ex. 9111111111">
                </div>
            </div>
            
            <div class="input-content">
                <label for="name" class="form-label">Description:</label>
                <br>
                <textarea type="text" style="overflow:hidden" id="name" class="form-control" cols="10" placeholder="Enter Your Market acheives" formControlName="description" required></textarea>
            </div>
        </form>
        
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <div class="buttons-container">
        <button mat-raised-button color="primary" tabindex="1" (click)="onConfirmClick()" type="button" [disabled]="!marketForm.valid">Submit</button>     
        <button mat-raised-button mat-dialog-close color="accent" tabindex="-1">Cancel</button>     
    </div>
</mat-dialog-actions>